<html>
    <head>
        <title>registration</title>
    </head>
    <body>
        <form method="post" action="{% url 'registerinfo' %}">
        {% csrf_token %}
        <label>registration page</label><br><br>
        <input type="text" placeholder="name" id="name" name="name"/><br><br>
       <input type ="email" placeholder="email" id="email" name="email"/><br><br>
         <input type="date" placeholder="date" id="date" name="date"/><br><br>
         <button type="submit">Register</button>
         </form>
    </body>
    </html>